* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "agency";
}

body {
    background-color: #F5F5F5;
    width: 100%;
    height: 1200px;
}

.container-fluid {
    padding: 0px;
}

.header-container {
    width: 100%;
    height: 215px;
}

#header {}

#header .top_header_nav {
    width: 100%;
    height: 30px;
    border-bottom: 1px solid rgb(221, 213, 213);
}

#header #header_links li {
    display: inline-block;
    font-size: 14px;
    line-height: 30px;
    text-shadow: 1px 1px #fff;
    padding-left: 15px;
}

#header #header_links li i {
    display: inline-block;
    font-family: 'FontAwesome';
    font-style: normal;
}

#header_links li a {
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 0 1px 0 0;
    color: #626060;
    padding-right: 15px;
    text-transform: capitalize;
}

#header_links li:hover a {
    color: #08BBB7;
}

#header_links li:hover i {
    color: #08BBB7;
}

#header_links li a:hover {
    color: #08BBB7;
    text-decoration: none;
}

#header .center_header_top {
    width: 100%;
    height: 135px;
}

#header .center_header_top .logo_img {
    text-align: center;
}

#header .center_header_top #header_logo {
    padding: 15px 0;
    display: inline-block;
    height: 135px;
}

.center_header_top .field-search {
    display: inline-block;
    padding-top: 60px;
}

.field-search input[type="text"] {
    width: 250px;
    height: 35px;
    background-color: transparent;
    border: none;
    padding: 5px;
    display: inline-block;
    padding-left: 40px;
    border-radius: 0px;
}

.field-search button {
    height: 35px;
    width: 35px;
    border: none;
    float: left;
    display: inline-block;
    border-radius: 0px !important;
    background-color: transparent;
    position: relative;
    top: -35px;
}

.center_header_top .shopping_cart {
    padding-top: 60px;
}

.center_header_top .shopping_cart .title_cart {
    float: right;
    padding: 5px 20px;
}

.center_header_top .shopping_cart .title_cart:hover {
    background-color: #08BBB7;
    text-decoration: none;
    color: white;
}

.center_header_top .shopping_cart .title_cart i {
    position: relative;
    top: 2px;
    font-size: 22px;
}

.center_header_top .shopping_cart .cart_block {
    position: relative;
    top: 2px;
    background: none repeat scroll 0 0 #f1f1f1;
    box-shadow: 2px 2px 2px #CFCECE;
    -webkit-box-shadow: 2px 2px 2px #CFCECE;
    -ms-box-shadow: 2px 2px 2px #CFCECE;
    z-index: 100;
    transition: height ease-out 0.5s;
    -webkit-transition: height ease-out 0.5s;
    overflow: hidden;
    height: 0px;
    width: 262px;
}

.center_header_top .shopping_cart .cart_block:hover,
.title_cart:hover +.cart_block {
    height: 252px;
}

.center_header_top .shopping_cart .cart_block:hover .title_cart {
    background-color: #08BBB7;
    text-decoration: none;
    color: white;
}

.shopping_cart .cart_prices {
    font-size: 14px;
    font-weight: normal;
    text-shadow: 1px 1px #f9f9f9;
    color: #777;
}

.shopping_cart .cart_prices .number_products {
    padding: 15px 20px;
}

.shopping_cart .cart_prices .cart_prices_line {
    padding: 15px 20px;
    border-width: 0 0 1px;
    border-style: solid;
    border-color: #fff;
    -ms-box-shadow: 0 -1px rgba(0, 0, 0, 0.2) inset;
    -webkit-box-shadow: 0 -1px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 -1px rgba(0, 0, 0, 0.2) inset;
}

.shopping_cart .cart_prices .last_line {}

.cart_prices .cart_prices_line span {
    display: inline-block;
}

.cart_prices .cart_prices_line .prices {
    float: right;
    color: red;
}

.shopping_cart .cart_buttons {
    padding: 20px 20px;
    height: 90px;
}

.shopping_cart .cart_buttons a {
    padding: 15px 15px;
    background-color: #3595bf;
    color: white;
    font-size: 16px;
    float: right;
}

.shopping_cart .cart_buttons a:hover {
    background-color: #08BBB7;
    text-decoration: none;
}

.shopping_cart .cart_buttons a i {
    position: relative;
    top: 1px;
    left: 4px;
    font-weight: bold;
}

#header_logo {
    width: 100%;
    height: auto;
}
#header_logo > .list-logo {
    float: right;
}
#header_logo > .list-logo > li {
    width: 100px;
    height: 100px;
    display: inline-block;
    border: 1px solid black;
    margin: 5px 15px;
    margin-right: 0px;
}
#header #header_menu {
    width: 100%;
    height: 50px;
    background-color: #333;
}

#header #header_menu nav {
    padding: 0px 15px;
}

#header_menu .shadow-top-menu {
    background: rgba(0, 0, 0, 0) url("../images/shadow-top-menu.png") no-repeat scroll 50% 0;
    bottom: -36px;
    height: 36px;
    left: 0;
    position: absolute;
    width: 100%;
}

#header_menu .container {
    height: 50px;
}

#header_menu .total_menu {
    position: relative;
}

#header_menu .total_menu {
    padding: 0px 15px;
}

#header_menu .total_menu ul {
    font-size: 0;
}

#header_menu .total_menu li {
    height: 50px;
    display: inline-block;
    position: relative;
}

#header_menu .total_menu li:hover {
    background-color: #08BBB7;
}

#header_menu .total_menu li a {
    color: white;
    line-height: 50px;
    font-size: 16px;
    text-decoration: none;
    margin: 0px 10px;
    text-transform: uppercase;
}

#header_menu .total_menu .menu_drop_down {
    background-color: #08BBB7;
    float: right;
}

#header_menu .total_menu li:first-child i {
    position: relative;
    top: 5px;
    margin-right: 10px;
}

#header_menu .total_menu li a i {
    margin-left: 10px;
    display: inline-block;
    position: relative;
    top: 1px;
    left: 2px;
}

#header_menu li .sub_menu {
    position: absolute;
    display: block;
    transition: height ease-out 1s;
    -webkit-transition: height ease-out 1s;
    overflow: hidden;
    height: 0px;
    background-color: #fafafa;
    box-shadow: 0px 10px 20px #ABA6A6;
    -webkit-box-shadow: 0px 10px 20px #ABA6A6;
    -ms-box-shadow: 0px 10px 20px #ABA6A6;
    border-bottom: 5px solid #08BBB7 inset;
    z-index: 100;
}

#header_menu li .sub_menu > .line {
    width: 100%;
    height: 5px;
    background-color: #333;
    position: absolute;
    bottom: 0px;
}

#header_menu .sub_menu .category {
    width: 24%;
    display: inline-block;
    vertical-align: top;
}

#header_menu .sub_menu .category > .title {
    padding: 10px;
}

#header_menu .sub_menu .category a {
    color: inherit;
}

#header_menu .sub_menu .category-content ul {
    padding: 10px;
}

#header_menu .sub_menu .category-content ul > li {
    display: block;
    border-width: 0 0 1px;
    border-style: solid;
    border-color: #fff;
    ms-box-shadow: 0 -1px rgba(0, 0, 0, 0.2) inset;
    -webkit-box-shadow: 0 -1px rgba(0, 0, 0, 0.2) inset;
    color: #333;
}

#header_menu li .sub_menu_two > .category {
    width: 32%;
}

#header_menu li .sub_menu_three > .category {
    width: 32%;
}

#header_menu li .sub_menu_four > .category {
    width: 90%;
}

#header_menu li .sub_menu_five > .category {
    width: 90%;
}

#header_menu .sub_menu .category-content ul > li:hover {
    color: white;
}

#header_menu .sub_menu .category-content ul > li > a > i {
    top: 0px;
    margin-right: 10px;
}

#header_menu li .sub_menu_one {
    width: 1070px;
}

#header_menu li .sub_menu_two {
    width: 940px;
}

#header_menu li .sub_menu_three {
    width: 838px;
}

#header_menu li .sub_menu_four {
    width: 285px;
}

#header_menu li .sub_menu_five {
    width: 300px;
}

#header_menu li .sub_menu_six {
    width: 484px;
}

#header_menu li .sub_menu_seven {
    width: 492px;
}

#header_menu nav li:hover > .sub_menu {
    height: 400px;
}

.sidebar {
    padding-left: 0px;
    padding-right: 0px;
}

.sidebar > .category {}

.sidebar > .category > .title {
    height: 50px;
    background-color: #333;
    color: white;
    font-size: 25px;
    margin-bottom: 0px;
    margin-top: 30px;
    line-height: 50px;
    padding: 0 15px;
    text-transform: uppercase;
}

.sidebar > .category > ul {
    list-style: none;
    border: 1px solid rgb(213, 212, 212);
    background-color: #F5F5F5;
}

.sidebar > .category > ul > li:last-child {
    border: none;
}

.sidebar > .category > ul > li {
    padding: 0 15px;
    height: 50px;
    line-height: 50px;
    border-width: 0 0 1px;
    border-style: solid;
    border-color: #fff;
    ms-box-shadow: 0 -1px rgba(0, 0, 0, 0.2) inset;
    -webkit-box-shadow: 0 -1px rgba(0, 0, 0, 0.2) inset;
    color: #333;
}

.sidebar > .category > ul > li:hover {
    background-color: #08BBB7;
    color: white !important;
}

.sidebar > .category > ul > li > a {
    text-transform: uppercase;
    color: inherit;
}

.sidebar > .category > ul > li > a > i {
    margin-right: 10px;
}

.content {
    padding: 0px;
    padding-left: 25px;
}

.content > .slider {
    margin-top: 30px;
    border: 1px solid;
    height: 300px;
}

.container > .new-product {
    height: 400px;
    border: 1px solid;
    margin: 20px 0px;
}

.container > .new-product > .title {
    margin: 0px;
    padding: 15px !important;
    text-transform: uppercase;
    border-width: 0 0 1px;
    border-style: solid;
    border-color: #fff;
    ms-box-shadow: 0 -1px rgba(0, 0, 0, 0.2) inset;
    -webkit-box-shadow: 0 -1px rgba(0, 0, 0, 0.2) inset;
    color: #333;
    padding: 20px;
    font-size: 20px;
}

.container > .brand-logo {
    height: 200px;
    border: 1px solid;
}

.container > .brand-logo > .title {
    margin: 0px;
    padding: 15px !important;
    text-transform: uppercase;
    border-width: 0 0 1px;
    border-style: solid;
    border-color: #fff;
    ms-box-shadow: 0 -1px rgba(0, 0, 0, 0.2) inset;
    -webkit-box-shadow: 0 -1px rgba(0, 0, 0, 0.2) inset;
    color: #333;
    padding: 20px;
    font-size: 20px;
}


/*Page Login*/

.form-custom .form-register,.form-login {
    width: 48%;
    margin-top: 20px;
    height: 400px;;
    border: 1px solid rgba(0, 0, 0, 0.2);
}
.form-custom .form-register {
    margin-right: 1%;
}
.form-custom .form-login {
    margin-right: 1%;
    float: right;
}
.form-custom .title {
    border-width: 0 0 1px;
    border-style: solid;
    border-color: #fff;
    ms-box-shadow: 0 -1px rgba(0, 0, 0, 0.2) inset;
    -webkit-box-shadow: 0 -1px rgba(0, 0, 0, 0.2) inset;
    color: #333;
    padding: 20px;
    font-size: 20px;
    text-transform: uppercase;
    padding-left: 0px;
}

.form-custom span {
    display: block;
    font-size: 16px;
    margin: 20px 0;
}

.form-custom  label {
    display: block;
    font-size: 16px;
    margin-top: 10px;
    text-shadow: 1px 1px 1px #887D7D;
}

.form-custom  input {
    display: block;
    width: 250px;
    height: 30px;
    padding: 5px;
}
.form-custom .button {
    padding: 10px 25px;
    background-color: #08BBB7;
    color: white;
    margin-top: 20px;
    border: none;
    font-size: 16px;
    position: absolute;
    bottom: 20px;
    left: 20px;
}
.form-custom .button:hover {
    background-color: orange;
}
.form-custom > .form-login > a {
    font-size: 16px;
    color: #333;
    margin: 10px 0px;
    text-decoration: underline;
    display: block;
}